<div class="col-md-6 col-md-offset-3" ng-controller="HomeController">
    <h1 class="">Home</h1>
    <h1>Hi <strong> <span style="text-transform:capitalize">{{currentUser.userName}}</span></strong> yours role is <span style="text-transform:capitalize">{{currentUser.userRole}}</span></h1>
    <p>You're logged In!!</p>
    <div class="row">
        <div class="col-md-3 pull-left" ng-show="currentUser.userRole == 'admin'">
            <a href="#/dashboard" class="btn btn-success">Go to Dashboard</a>
        </div>
        <div class="col-md-3 pull-left">
            <a href="#/register/{{currentUser.userName}}" class="btn btn-success" >Edit profile</a>
        </div>

        <div class="col-md-3 pull-left">
       		<a href="" ng-click="Logout()" class="btn btn-primary">Logout</a> 	
        </div>
    </div>
</div>
