<div class="col-md-6 col-md-offset-3">
    <h1 class="">Home</h1>
    <h1>Hi {{userDeatils.firstName}} {{userDeatils.lastName}} </h1> 
    <h2>Yours user name is<strong> <span>{{userDeatils.username}},</span></strong> </br> Role is {{userDeatils.role}},</span> </br>Email is {{userDeatils.email}} </h2>
    <h3>Date of registration {{userDeatils.dateOfRegistration | date:'medium'}}</h3>
    <h3 ng-show="userDeatils.lastChangeDate">Date of last change {{userDeatils.lastChangeDate | date:'medium'}}</h3>
    <p>You're logged In!!</p>
    <div class="row">
        <div class="col-md-3 pull-left" ng-show="currentUser.userRole == 'admin'">
            <a href="#/dashboard" class="btn btn-success">Go to Dashboard</a>
        </div>
        <div class="col-md-3 pull-left">
            <a href="#/register/{{currentUser.userName}}" class="btn btn-success" >Edit profile</a>
        </div>

        <div class="col-md-3 pull-left">
       		<a href="" ng-click="Logout()" class="btn btn-primary">Logout</a> 	
        </div>
    </div>
</div>
